*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main{
    width: 1000px;
    height: 100px;
    margin: 0 auto;

    background-color: burlywood;
}

header{
    width: 100%;
    height: 100px;
    background-color:#f82222;
    text-align: center;
    line-height: 40px;
}

form{
    width: 250px;
    height: 400px;
    background-color: #ffffffbb;
    float: right;
}

input[ type="text"] {
    width: 160px;
    height: 30px;
    padding:0 10px;
    margin: 10px;
    border: none;
}

input[type="text"]:hover{
    -webkit-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
}

section{
    padding: 20px;
    background-image: url(janine-eliezer.jpeg);
    background-size: 730px  500px;
    overflow: hidden;
}
button{
    width: 160px;
    height: 30px;
    padding:0 10px;
    margin: 10px;
    background-color: #f82222;
    border: none;
}

footer {    
    background-color: rgb(255, 255, 255); 
    padding: 20px;
    text-align: center;  
    }
.picture{
    width: 250px;
}

    .description {
        display: inline-block;
        color: black;
        max-width: 40%;
        margin-left: 40px;
        text-align:left;
    }
    }
  .description h4, .description p{
margin-bottom: 20px;
font-size: 24px;
  }




